{% extends "::base.html.twig" %}

{% block title %}AppBundle:Station:List{% endblock %}
{%  block headertitle %} List of Stations {% endblock %}

{% block body %}
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Station Name</th>
                <th>UUID</th>
                <th>Location</th>
                <th>edit</th>
                <th>remove</th>
            </tr>
            </thead>
            <tbody>
        {%  for station in stations %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ station.metaData.name }}</td>
                    <td>{{ station.uuid }}</td>
                    <td>{{ station.location }}</td>
                    <td>
                        <form action="{{ path("app_station_edit", {"uuid": station.uuid}) }}">
                            <input type="hidden" name="location" value="{{ station.location }}">
                            <input type="hidden" name="name" value="{{ station.metaData.name }}">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{ path("app_station_remove") }}" method="post">
                            <input type="hidden" name="uuid" value="{{ station.uuid }}">
                            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" value="remove">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


{% endblock %}